<h1 class="form-header">Search Available Flights</h1>

<%= form_with model: @flight, method: :get do |form| %>
  <% airport_options = Airport.all.map{ |airport| [ airport.name, airport.id ] } %>
  
  <%= form.label "Departing From:" %>
  <%= select_tag(:departing_airport_id, options_for_select(airport_options, :departing_airport_id)) %>

  <%= form.label "Arriving At:" %>
  <%= select_tag(:arriving_airport_id, options_for_select(airport_options, :arriving_airport_id)) %>

  <%= form.label "Number of Passengers:" %>
  <%= select_tag(:number_of_passengers, options_for_select([1, 2, 3, 4], :number_of_passengers)) %>

  <%= form.label "Day of Departure:" %>
  <%= select_tag(:start, options_for_select(@flights.collect{|flight| flight.start_date_formatted}.uniq)) %>

  <%= form.submit "Search" %>
<% end %>

<h1 class="form-header">Select Flight for Booking</h1>
<%= form_with url: "/bookings/new", class: "vertical-form", method: :get do |form| %>

<% @flight_results.each do |flight| %>
  <div class="form-row">
    <label for='flight_id'><%= Airport.all.find(flight.arriving_airport_id).name %> to <%= Airport.all.find(flight.departing_airport_id).name %> departing at <%= flight.start %></label>
    <%= form.radio_button :flight_id, flight.id %>
    <%= form.hidden_field :quantity, value: params[:number_of_passengers] %>
  </div>
<% end %>

  <div class="form-row">
    <%= form.submit "Select Flight" %>
  </div>
<% end %>

