<h1>Search Available Flights</h1>

<%= form_with url: "/flights", method: :get do |form| %>
  <%= form.label "Departing Airport:" %>
  <%= select_tag(:departing_airport_id, options_for_select(@airport_options, params[:departing_airport_id])) %>

  <%= form.label "Arriving Airport:" %>
  <%= select_tag(:arriving_airport_id, options_for_select(@airport_options, params[:arriving_airport_id])) %>

  <%= form.label "Number of Passengers:" %>
  <%= select_tag(:number_of_passengers, options_for_select([1, 2, 3, 4], params[:number_of_passengers])) %>

  <%= form.label "Departure Date:" %>
  <%= select_tag(:start, options_for_select(@flights.collect{|flight| flight.start_date_formatted}.uniq)) %>

  <%= form.submit "Search" %>
<% end %>

<h1>Select Flight</h1>

<%= form_with url: "/bookings/new", method: :get do |form| %>
  <% @flight_results.each do |flight| %>
    <ul>
      <li>
        <p><%= form.radio_button :flight_id, flight.id %><%= Airport.all.find(flight.arriving_airport_id).name %> to <%= Airport.all.find(flight.departing_airport_id).name %> departing at <%= flight.start %></p>
        <%= form.hidden_field :quantity, value: params[:number_of_passengers] %>
      </li>
    </ul>
  <% end %>
  <%= form.submit "Search" %>
<% end %>

