<h1 class="header">Bookings</h1>

<% @bookings = [] if @bookings.nil? %>
<% @bookings.each do |booking| %>
  <div class="vertical-form">
    <% flight = Flight.find(booking.flight_id) %>
    <div class="form-row">
      <p>Departing from:</p> <%= Airport.all.find(flight.departing_airport_id).name %>
    </div>

    <div class="form-row">
      <p>Arriving at:</p> <%= Airport.all.find(flight.arriving_airport_id).name %> 
    </div>

    <div class="form-row">
      <p>Departure date and time</p>: <%= flight.start %>
    </div>

    <% passenger_number = 1 %>

    <% booking.passengers.each do |passenger| %>

        <p class="header">Passenger <%= passenger_number %></p>

      <div class="form-row">
        <p>Name:</p> <%= passenger.name %>
      </div>
      <div class="form-row">
        <p>Email:</p> <%= passenger.email%>
      </div>
      <% passenger_number += 1%>
    <% end %>
  </div>
<% end %>
