<h1 class="form-header">Create New Booking</h1>

<%= form_with model: @booking, class: "vertical-form" do |form| %>
  <div class="form-row">
    <p>Departing from:</p> <%= Airport.all.find(@flight.departing_airport_id).name %>
  </div>

  <div class="form-row">
    <p>Arriving at:</p> <%= Airport.all.find(@flight.arriving_airport_id).name %> 
  </div>

  <div class="form-row">
    <p>Departure date and time</p>: <%= @flight.start %>
  </div>

  <% passenger_number = 1 %>
  <%= form.fields_for :passengers do |passenger_form| %>
    <div class="form-row">
      <p> Passenger <%= passenger_number%> </p>
    </div>

    <div class="form-row">
      <%= form.label :name, "Name:" %>
      <%= passenger_form.text_field :name %>
    </div>

    <div class="form-row">
      <%= form.label :email, "Email:" %>
      <%= passenger_form.email_field :email %>
    </div>

    <% passenger_number += 1 %>
  <% end %>

  <%= form.hidden_field :flight_id, value: @flight.id %>
  
  <div class="form-row">
    <%= form.submit "Book Flight" %>
  </div>
<% end %>
